<!-- CATEGORY PHASE START -->
<template name="acrofever-category">
{{#with game lobby}}
    <div>{{>React component=AcrofeverCategoryPhase round=currentRound endTime=this.endTime gameId=this._id}}</div>
{{/with}}
</template>
<!-- CATEGORY PHASE END -->

<!-- ACRO PHASE START -->
<template name="acrofever-acro">
{{#with game lobby}}
    <div>{{> React component=AcrofeverAcroPhase round=currentRound endTime=this.endTime gameId=this._id}}</div>
{{/with}}
</template>
<!-- ACRO PHASE END -->

<!-- VOTING PHASE START -->
<template name="acrofever-voting">
{{#with game lobby}}
    <div>{{> React component=AcrofeverVotingPhase round=currentRound endTime=this.endTime gameId=this._id}}</div>
{{/with}}
</template>
<!-- VOTING PHASE END -->

<!-- ENDROUND PHASE START -->
<template name="acrofever-endround">
{{#with game lobby}}
    <div>{{> React component=AcrofeverEndRoundPhase round=currentRound endTime=this.endTime}}</div>
{{/with}}
</template>
<!-- ENDROUND PHASE END -->

<!-- ENDGAME PHASE START -->
<template name="acrofever-endgame">
	{{#with game lobby}}
		<div>{{> React component=AcrofeverEndGamePhase scores=this.scores rounds=this.rounds currentRound=this.currentRound winner=this.gameWinner endTime=this.endTime}}</div>
	{{/with}}
</template>
<!-- ENDGAME PHASE END -->