<template name="blogList">
<h2 class="ui header">
	<i class="rss icon"></i>
	<div class="content">
		Acrofever Blog
		<div class="sub header">News, feature updates and other tidbits</div>
	</div>
</h2>
{{#if blogReady}}
	<div class="ui very relaxed items">
		{{#each posts}}
		<div class="item">
			{{#if featuredImage}}
				<a href="/blog/{{slug}}" class="image">
					<img src="{{featuredImage}}">
				</a>
			{{/if}}
			<div class="content">
				<a href="/blog/{{slug}}" class="header">{{title}}</a>
				<div class="meta">
					<span>{{username userId}}</span>
					<span>{{moCalendar publishedAt}}</span>
				</div>
				<div class="description">
					<p>{{excerpt}}</p>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
	{{blogPager}}
{{else}}
	<div class="ui inline centered active loader"></div>
{{/if}}
</template>

<template name="blogPost">
<h2 class="ui header">
	<i class="rss icon"></i>
	<div class="content">
		<a href="/blog">Acrofever Blog</a>
		<div class="sub header">News, feature updates and other tidbits</div>
	</div>
</h2>
<div class="ui hidden divider"></div>
{{#with post}}
	<div class="ui text container">
		<h1 class="ui center aligned header">
			{{title}}
		</h1>
		<div class="ui hidden divider"></div>
		{{#if featuredImage}}
			<img class="ui fluid centered image" src="{{featuredImage}}" style="max-width:{{featuredImageWidth}}">
			<div class="ui hidden divider"></div>
		{{/if}}
		<h3 class="ui header">
			<img src="{{profilePicture userId 50}}" class="ui circular image">
			<div class="content">
				{{username userId}}
				<div class="sub header">{{moCalendar publishedAt}}</div>
			</div>
		</h3>
		<p>{{{body}}}</p>
		<div class="ui hidden divider"></div>
		{{> disqus this}}
	</div>

{{/with}}
</template>