<template name="hallOfFame">
	<h2 class="ui header"><i class="trophy icon"></i> 
		<div class="content">
			Hall of Fame
			<div class="sub header">The crème de la crème.</div>
		</div>
	</h2>
	<p>At the end of a game of Acrofever, players vote on their overall favourite acro from the game to be added to the Hall of Fame.<br>
	You too could be immortalised on the Hall of Fame one day, so <a href="{{getRoutePath 'play'}}">get playing</a>!</p>
	<div class="ui cards">
		{{#each hallOfFameAcros}}
			{{> hallOfFameAcroCard}}
		{{/each}}
	</div>
	<div class="ui hidden divider"></div>
	{{#if hasNotReachedLimit hallOfFameAcros}}
		<button class="ui labeled icon {{#unless ready}}loading{{/unless}} button" id="getMore">
			<i class="plus icon"></i>
			Get more
		</button>
	{{/if}}
</template>

<template name="hallOfFameAcroCard">
	<div class="ui card">
		<div class="content">
			<div class="header">{{joinAcro acronym}}</div>
			<div class="meta">{{category}}</div>
			<div class="description">{{acro}}</div>
		</div>
		<div class="content">
			<div class="ui list">
				<div class="item">
					<img class="ui avatar image" src="{{profilePicture userId 35}}">
					<div class="content">
						<div class="header">{{username userId}}</div>
						<div class="description">{{moCalendar created}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>