<template name="home">
	<div class="ui stackable grid">
		<div class="sixteen wide center aligned column">
			<h1 class="ui header">Welcome to Acrofever!</h1>
			<div class="row">
				<button class="big ui primary labeled icon button mobileBottomMargin playNow" style="clear:both">
					<i class="lightning icon"></i>
					Play now
				</button>
				<a href="{{getRoutePath 'play'}}" class="big ui labeled icon button">
					<i class="search icon"></i>
					Find a lobby
				</a>
				<div class="ui hidden divider"></div>
			</div>
			<div class="row">
				<a href="{{getRoutePath 'halloffame'}}" class="ui labeled icon button mobileBottomMargin">
					<i class="trophy icon"></i>
					Hall of Fame
				</a>
				<button class="ui labeled icon button howToPlay">
					<i class="question icon"></i>
					Learn to play
				</button>
			</div>
			<div class="ui hidden divider"></div>
			{{#if playersOnline}}
			<div class="ui horizontal statistic">
				<div class="value">
					{{playersOnline}}
				</div>
				<div class="label">
					playing now
				</div>
			</div>
			{{/if}}
		</div>
		<div class="eight wide column">
			<div class="ui raised segment">
				<h3 class="ui header">What is Acrofever?</h3>
				<p>Acrofever is an Acrophobia clone for the modern web.</p>
				<p>If you never played Acrophobia, it's a fun, zany word game in which players create phrases from a randomly generated acronym, then vote for their favourites. The best Acro from each round will score points, and the most popular Acros from a whole game might be immortalised in the Hall of Fame!</p>
			</div>
			<div class="ui raised segment">
				<h3 class="ui header">About</h3>
				<p>Acrofever was created to be fast, user-friendly and playable on desktops and mobiles. This version has been newly optimised and new features will be added soon. User-created content is not currently moderated so leave any delicate sensibilities at the door!</p>
				<p>For bug reports, feature requests, feedback or just to say 'I love you', please contact the overlord at <a href="mailto:christian@acrofever.com">christian@acrofever.com</a>.</p>
			</div>
		</div>
		<div class="eight wide column">
			<h3 class="ui header">Chat</h3>
		</div>
	</div>
</template>