<template name="lobby">
	{{#if ready}}
		{{#with lobby}}
		<div class="ui stackable grid">
			<div class="five wide column">
				<h2 class="ui header"><span class="gameTypeHeader">{{type}} :: </span>{{displayName}}</h2>
				<div class="ui raised segments">
					<div class="ui segment">
						{{#if inLobby}}
							<button id="leaveLobby" class="ui fluid button">Leave lobby</button>
						{{else}}
							<button id="joinLobby" class="ui primary fluid button">Join lobby</button>
						{{/if}}
					</div>
					{{#if currentRound}}
					<div class="ui segment">
						<h3 class="ui header">Current round: <span class="normalWeight">{{currentRound}}</span></h3>
					</div>
					{{/if}}
					{{#if scores}}
					<div class="ui segment">
						<h3 class="ui header">Scores</h3>
						<table class="ui unstackable table">
							<tbody>
								{{#each scores}}
									{{> scoresPlayerRow}}
								{{/each}}
							</tbody>
						</table>
					</div>
					{{/if}}
					<div class="ui segment">
						<h3 class="ui header">Lobby settings</h3>
						<table class="ui very basic unstackable table">
							<tr>
								<td>Acro phase time</td>
								<td>{{timeFormat config.acronymTimeout}}</td>
							</tr>
							<tr>
								<td>Voting phase time</td>
								<td>{{timeFormat config.votingTimeout}}</td>
							</tr>
							<tr>
								<td>Points for round winner</td>
								<td>{{config.winnerPoints}}</td>
							</tr>
							<tr>
								<td>Points for each vote received</td>
								<td>{{config.votedPoints}}</td>
							</tr>
							<tr>
								<td>Points for voting for winning Acro</td>
								<td>{{config.votedForWinnerPoints}}</td>
							</tr>
							<tr>
								<td>Points lost for submitting an Acro but not voting</td>
								<td>-{{config.notVotedNegativePoints}}</td>
							</tr>
							<tr>
								<td>Points needed to win</td>
								<td>{{config.endGamePoints}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="eleven wide column">
				<div class="ui raised segment">
					{{> game}}
				</div>

				<div class="ui hidden divider"></div>

				{{> lobbyChatInput}}

				<div class="ui hidden divider"></div>

				<div class="ui small feed">
					{{> lobbyFeed}}
				</div>
			</div>
		</div>
		{{/with}}
	{{else}}
		<div class="ui active loader"></div>
	{{/if}}
</template>

<template name="scoresPlayerRow">
	<tr class="{{#if isInactive id}}disabled{{/if}}">
		<td>
			<h4 class="ui image header">
		        <img src="{{profilePicture id 35}}" class="ui mini circular image">
		        <div class="content">
		            {{username id true}}
		        <div class="sub header">{{leader id}}</div>
		        </div>
		    </h4>
		</td>
		<td>{{score}}</td>
	</tr>
</template>

<template name="game">
	{{#if ready}}
	{{#with lobby}}
		{{#with game this}}
			{{#if active}}
				{{#with gamePhase this}}{{> Template.dynamic template=this}}{{/with}}
			{{else}}
				<h3 class="ui center aligned icon header">
					<i class="wait icon"></i>
					{{#if newGameStarting ..}}
						New game starting in {{newGameCountdown ..}}
					{{else}}
						Waiting for more players...
					{{/if}}
				</h3>
				<div class="ui divider"></div>
				{{#if lobbyPlayers ..}}
					<div class="ui four doubling cards">
						{{#each lobbyPlayers ..}}
							<div class="card">
								<div class="image">
									<img src="{{profilePicture this 400}}">
								</div>
								<div class="content">
									{{username this}}
								</div>
							</div>
						{{/each}}
					</div>
				{{else}}
					<h3 class="ui center aligned disabled header">No players in lobby</h3>
				{{/if}}
			{{/if}}
		{{/with}}
	{{/with}}
	{{else}}
		<div class="ui active loader"></div>
	{{/if}}
</template>