<template name="profileModal">
	<div class="ui small basic modal" id="profileModal">
	{{#if ready}}
		{{#if user}}
			{{#with user}}
				<h1 class="ui center aligned inverted header">
					<img class="ui circular image" src="{{profilePicture _id 70}}">
					<div class="content">
						{{username _id}}
						<div class="sub header">Member since {{moCalendar createdAt}}</div>
					</div>
				</h1>
				<div class="content">
					<div class="ui four inverted statistics hiddenOnMobile">
						{{> userStats}}
					</div>
					<div class="ui two inverted statistics showOnMobile">
						{{> userStats}}
					</div>
				</div>
			{{/with}}
		{{else}}
			<em>This user does not exist</em>
		{{/if}}
	{{else}}
		<div class="ui active loader"></div>
	{{/if}}
	</div>
</template>

<template name="userStats">
	<div class="statistic">
		<div class="value">{{gamesPlayedStat}}</div>
		<div class="label">Games Played</div>
	</div>
	<div class="statistic">
		<div class="value">{{gamesWonStat}}</div>
		<div class="label">Games Won</div>
	</div>
	<div class="statistic">
		<div class="value">{{winRateStat gamesPlayedStat gamesWonStat}}%</div>
		<div class="label">Win Rate</div>
	</div>
	<div class="statistic">
		<div class="value">{{#if hallOfFameStat}}{{hallOfFameStat}}{{else}}<div class="ui active small inline loader" style="font-size:1.5rem"></div>{{/if}}</div>
		<div class="label"><abbr title="Hall of Fame">HOF</abbr> Entries</div>
	</div>
</template>