# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace
*.sublime-project

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

*.bat

.idea

node_modules/
config/
/app/mobile-config.js
/app/buildandroid.sh

yarn-error.log
.vscode