// If you want to override materialize sass variables you can uncomment the following:
@import "{poetic:materialize-scss}/bower_components/materialize/sass/components/_color.scss";
@import "variables";

// import main scss file
@import "{poetic:materialize-scss}/bower_components/materialize/sass/materialize.scss";

html {
	position: relative;
	min-height: 100%;
}

body {
	background: $primary-color;
	color: $text-color;
	margin: 0px;
	/* Margin bottom by footer height */
	margin-bottom: 70px;
	padding: 0px;
	min-width: 320px;
}

nav, #nav-mobile {
	background: $primary-color-light !important;
	color: $text-color;
}

nav .brand-logo {
	font-family: 'Pacifico';
	color: $secondary-color;
}

@media #{$large-and-up} {
	nav {
		height: 0;
		.brand-logo {
			display:none;
		}
	}
	#content {
		margin-left: 240px;
	}
	.container {
		width: 98%;
	}
}

.side-nav.fixed a {
	color: $text-color;
}


footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
}

footer > .content {
	padding-right: 15px;
	padding-left: 15px;
}

header,
main,
footer {
	padding-left: 240px;
}

@media #{$medium-and-down} {
	header,
	main,
	footer {
		padding-left: 0;
	}
}

.container {
	padding: 0 1.5rem;
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}

@media #{$medium-and-up} {
	.container {
		width: 99%;
	}
}

#lobbyList tr.lobbyRow {
	@include transition(.3s);
	&:hover {
		background: $primary-color-light;
		cursor: pointer;
	}
}