<template name="lobbyFeed">
    {{#each events}}
        <div class="event">
            <div class="label">
                {{#if user}}
                    <img src="{{profilePicture user 35}}">
                {{else}}
                    <i class="{{icon}} icon"></i>
                {{/if}}
            </div>
            <div class="content">
                <div class="summary">
                    {{summary}}
                    <div class="date">
                        {{friendlytime timestamp}}
                    </div>
                </div>
                <div class="detailed-content">
                    {{detail}}
                </div>
            </div>
        </div>
    {{/each}}
    {{#unless ready}}
        <div class="ui inline active centered loader"></div>
    {{/unless}}
    {{#if showGetMoreDiv events}}
        <div class="getMoreDiv"></div>
    {{/if}}
</template>

<template name="lobbyChatInput">
    <form id="chat-input-form" class="ui form">
        <div class="ui fluid action input">
            <input type="text" id="chat-input-box" class="ui input" placeholder="Type here to chat..." autocomplete="off" required>
            <button class="ui button" type="submit">Send</button>
        </div>
    </form>
</template>