<template name="lobbyFeed">
    {{#each events}}
        <div class="event">
            <div class="label">
                {{#if user}}
                    <img src="{{profilePicture user 25}}">
                {{else}}
                    <i class="{{icon}} icon"></i>
                {{/if}}
            </div>
            <div class="content">
                <div class="summary">
                    {{summary}}
                    <div class="date">
                        {{friendlytime timestamp}}
                    </div>
                </div>
                <div class="detailed-content">
                    {{detail}}
                </div>
            </div>
        </div>
    {{/each}}
    {{#if hasNotReachedLimit}}
        <button class="ui labeled icon {{#unless ready}}loading{{/unless}} button" id="getMore">
            <i class="plus icon"></i>
            Get more
        </button>
    {{/if}}
</template>