<template name="acrofever-category">
{{#with game lobby}}
	{{> countdownHeader endTime=endTime header=currentAcro}}

	<div class="ui divider"></div>

	{{#if isCategoryChooser this}}
		{{> chooseCategory}}
	{{else}}
		<h3 class="ui center aligned disabled header">{{categoryChooserUsername this}} is picking a category...</h3>
	{{/if}}
{{/with}}
</template>

<template name="chooseCategory">
{{#unless hasPickedCategory}}
	<h3 class="ui center aligned header">You're picking the category!</h3>
	<div class="ui basic segment">
		<div class="ui stackable two column very relaxed grid" style="position:relative">
			<div class="column">
				<div class="ui relaxed celled list">
					{{#each randomCategories}}
						<a href="#" class="item categoryListItem">{{this}}</a>
					{{/each}}
				</div>
			</div>
			<div class="ui vertical divider">
				OR
			</div>
			<div class="column">
				<form class="ui form">
					<div class="ui fluid action input">
						<input type="text" name="customCategory" placeholder="Category" required>
						<button class="ui primary button" type="submit">Go</button>
					</div>
					<div class="ui error message"></div>
				</form>
			</div>
		</div>
	</div>
{{else}}
	<div class="ui active centered inline loader"></div>
{{/unless}}
</template>

<template name="acrofever-acro">
{{#with game lobby}}
	{{> countdownHeader endTime=endTime header=currentAcro subheader=currentCategory}}

	<div class="ui divider"></div>

	{{> submitAcro}}
{{/with}}
</template>

<template name="submitAcro">
	<div class="ui ten column centered grid">
		<div class="ten wide center aligned column">
		{{#unless hasChosenAcro}}
			{{> submitAcroForm hasChosenAcro=hasChosenAcro game=this}}
		{{else}}
			<p><strong>Submitted acro:</strong> {{playerAcro this}}<br>
			(<a href="#" id="changeAcro">change?</a>)</p>
		{{/unless}}
		</div>
	</div>
</template>

<template name="submitAcroForm">
	<form class="ui form">
		<div class="ui fluid action input">
			<input type="text" name="acro" placeholder="Write your acro" required>
			<button class="ui primary button" type="submit">Go</button>
		</div>
		<div class="ui error message"></div>
	</form>
</template>