<!-- CATEGORY PHASE START -->
<template name="acrofever-category">
{{#with game lobby}}
	{{> countdownHeader endTime=endTime header=currentAcro}}

	<div class="ui divider" style="margin-bottom:2em"></div>

	{{#if isCategoryChooser this}}
		{{> chooseCategory}}
	{{else}}
		<h3 class="ui center aligned disabled header">{{categoryChooserUsername this}} is picking a category...</h3>
	{{/if}}

	<div class="ui hidden divider"></div>
{{/with}}
</template>

<template name="chooseCategory">
{{#unless hasPickedCategory}}
	<h3 class="ui center aligned header">You're picking the category!</h3>
	<div class="ui basic segment">
		<div class="ui stackable two column very relaxed grid" style="position:relative">
			<div class="column">
				<div class="ui relaxed celled list">
					{{#each randomCategories}}
						<a href="#" class="item categoryListItem">{{this}}</a>
					{{/each}}
				</div>
			</div>
			<div class="ui vertical divider">
				OR
			</div>
			<div class="column">
				<form class="ui form">
					<div class="ui fluid action input">
						<input type="text" name="customCategory" placeholder="Category" required>
						<button class="ui primary button" type="submit">Go</button>
					</div>
					<div class="ui error message"></div>
				</form>
			</div>
		</div>
	</div>
{{else}}
	<div class="ui active centered inline loader"></div>
{{/unless}}
</template>
<!-- CATEGORY PHASE END -->

<!-- ACRO PHASE START -->
<template name="acrofever-acro">
{{#with game lobby}}
	{{> countdownHeader endTime=endTime header=currentAcro subheader=currentCategory}}

	<div class="ui divider" style="margin-bottom:2em"></div>

	{{> submitAcro}}

	<div class="ui hidden divider"></div>
{{/with}}
</template>

<template name="submitAcro">
	<div class="ui ten column centered grid">
		<div class="ten wide center aligned column">
			<h3 class="ui header">Write your Acro</h3>
			{{#unless hasChosenAcro}}
				{{> submitAcroForm hasChosenAcro=hasChosenAcro game=this}}
			{{else}}
				<p><strong>Submitted acro:</strong> {{playerAcro this}}<br>
				(<a href="#" id="changeAcro">change?</a>)</p>
			{{/unless}}
		</div>
	</div>
</template>

<template name="submitAcroForm">
	<form class="ui form">
		<div class="ui fluid action input">
			<input type="text" name="acro" placeholder="Write your acro" required>
			<button class="ui primary button" type="submit">Go</button>
		</div>
		<div class="ui error message"></div>
	</form>
</template>
<!-- ACRO PHASE END -->

<!-- VOTING PHASE START -->
<template name="acrofever-voting">
{{#with game lobby}}
	{{> countdownHeader endTime=endTime header=currentAcro subheader=currentCategory}}

	<div class="ui divider" style="margin-bottom:2em"></div>

	{{> acroVoting}}

	<div class="ui hidden divider"></div>

{{/with}}
</template>

<template name="acroVoting">
	<div class="ui ten column centered grid">
		<div class="ten wide center aligned column">
			<h3 class="ui header">Vote for your favourite</h3>
			<div class="ui fluid vertical text menu">
				{{#each roundAcros}}
					<a href="#" class="{{#if votedForThisAcro .. id}}active{{/if}} item" data-id="{{id}}">
						{{acro}} {{#if votedForThisAcro .. id}}<i class="check icon"></i>{{/if}}
					</a>
				{{/each}}
			</div>
		</div>
	</div>
</template>

<!-- VOTING PHASE END -->

<!-- ENDROUND PHASE START -->
<template name="acrofever-endround">
{{#with game lobby}}
	{{> countdownHeader endTime=endTime header=currentAcro subheader=currentCategory}}

	<div class="ui divider" style="margin-bottom:2em"></div>

	{{> acroEndRound}}

	<div class="ui hidden divider"></div>

{{/with}}
</template>

<template name="acroEndRound">
	<h3 class="ui center aligned header">Round results</h3>
	<div class="ui basic segment">
		<table class="ui very basic celled table">
			<thead>
				<tr>
					<th>Player</th>
					<th>Acro</th>
					<th>Votes</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				{{#each roundResults}}
					{{> acroRoundResultsRow}}
				{{/each}}
			</tbody>
		</table>
	</div>
</template>

<template name="acroRoundResultsRow">
	<tr>
		<td>
			<h4 class="ui image header">
				<img src="https://placehold.it/200x200" class="ui mini rounded image">
				<div class="content">
					{{username id true}}
					{{#if accolades currentRound}}<div class="sub header">{{{accolades currentRound}}}</div>{{/if}}
				</div>
			</h4>
		</td>
		<td>{{submission.acro}}</td>
		<td>{{votes}}</td>
		<td><a class="ui grey circular label">{{totalPoints}}</a></td>
	</tr>
</template>
<!-- ENDROUND PHASE END -->

<!-- ENDGAME PHASE START -->
<template name="acrofever-endgame">
	{{#with game lobby}}
		{{#with winnerHeader this}}
			{{> countdownHeader}}
		{{/with}}

		<div class="ui divider" style="margin-bottom:2em"></div>

		

		<div class="ui hidden divider"></div>

	{{/with}}
</template>

<!-- ENDGAME PHASE END -->