<template name="lobby">
	{{#if ready}}
		{{#with lobby}}
		<div class="ui stackable grid">
			<div class="five wide column">
				<div class="ui raised segments">
					<div class="ui segment">
						{{#if inLobby}}
							<button id="leaveLobby" class="ui fluid button">Leave lobby</button>
						{{else}}
							<button id="joinLobby" class="ui primary fluid button">Join lobby</button>
						{{/if}}
					</div>
					<div class="ui segment">
						<h3 class="ui header">Scores</h3>
						<table class="ui unstackable table">
							<tbody>
									<tr>
										<td>
											<h4 class="ui image header">
										        <img src="//placehold.it/100x100" class="ui mini circular image">
										        <div class="content">
										            Gary
										        <div class="sub header">Current leader</div>
										        </div>
										    </h4>
										</td>
										<td>3</td>
									</tr>
								{{#each scores}}
									{{> scoresPlayerRow}}
								{{/each}}
							</tbody>
						</table>
					</div>
					<div class="ui segment">
						<h3 class="ui header">Chat</h3>
						{{> lobbyChat}}
					</div>
				</div>
			</div>
			<div class="eleven wide column">
				<div class="ui raised segment">
					{{> game}}
				</div>
			</div>
		</div>
		{{/with}}	
	{{else}}
		<div class="ui active loader"></div>
	{{/if}}
</template>

<template name="scoresPlayerRow">
	<tr>
		<td>
			<h4 class="ui image header">
		        <img src="//placehold.it/100x100" class="ui mini circular image">
		        <div class="content">
		            Gary
		        <div class="sub header">Current leader</div>
		        </div>
		    </h4>
		</td>
		<td>3</td>
	</tr>
</template>

<template name="lobbyChat">
    <form id="chat-input-form" class="ui form">
        <input type="text" id="chat-input-box" class="ui input" placeholder="Type here to chat..." autocomplete="off">
    </form>
    <div id="chat-messages" class="ui segment">
        <div class="ui relaxed divided list">
            {{#each chats}}
                <div class="item">
                    <div class="content">
                        <div class="header">{{username id}} {{friendlytime time}}</div>
                        {{message}}
                    </div>
                </div>
            {{/each}}
            <div class="item">
                <div class="content">
                    <div class="header">Alan</div>
                    Nice one Baz
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Jeff</div>
                    My name is jeff
                </div>
            </div>
        </div>
    </div>
</template>

<template name="game">
	{{#if ready}}
		{{#with game}}
			{{#if active}}
				{{#with gamePhase this}}{{> Template.dynamic template=this}}{{/with}}
			{{else}}
				Waiting for players...
			{{/if}}
		{{/with}}
	{{else}}
		<div class="ui active loader"></div>
	{{/if}}
</template>