<template name="lobby">
	{{#if ready}}
		{{#with lobby}}
		<h2 class="ui header"><span class="gameTypeHeader">{{type}} :: </span>{{displayName}}</h2>
		<div class="ui stackable grid">
			<div class="five wide column">
				<div class="ui raised segments">
					<div class="ui segment">
						{{#if inLobby}}
							<button id="leaveLobby" class="ui fluid button">Leave lobby</button>
						{{else}}
							<button id="joinLobby" class="ui primary fluid button">Join lobby</button>
						{{/if}}
					</div>
					<div class="ui segment">
						<h3 class="ui header">Current round: <span class="normalWeight">{{currentRound}}</span></h3>
					</div>
					<div class="ui segment">
						<h3 class="ui header">Scores</h3>
						<table class="ui unstackable table">
							<tbody>
								{{#each scores this}}
									{{> scoresPlayerRow}}
								{{/each}}
							</tbody>
						</table>
					</div>
					<div class="ui segment">
						<h3 class="ui header">Chat</h3>
						{{> lobbyChat}}
					</div>
				</div>
			</div>
			<div class="eleven wide column">
				<div class="ui raised segment">
					{{> game}}
				</div>
			</div>
		</div>
		{{/with}}	
	{{else}}
		<div class="ui active loader"></div>
	{{/if}}
</template>

<template name="scoresPlayerRow">
	<tr class="{{#if isInactive id}}disabled{{/if}}">
		<td>
			<h4 class="ui image header">
		        <img src="//placehold.it/100x100" class="ui mini rounded image">
		        <div class="content">
		            {{username id true}}
		        <div class="sub header">{{leader id}}</div>
		        </div>
		    </h4>
		</td>
		<td>{{score}}</td>
	</tr>
</template>

<template name="game">
	{{#if ready}}
	{{#with lobby}}
		{{#with game this}}
			{{#if active}}
				{{#with gamePhase this}}{{> Template.dynamic template=this}}{{/with}}
			{{else}}
				<h3 class="ui center aligned icon header">
					<i class="user icon"></i>
					Waiting for more players...
				</h3>
			{{/if}}
		{{/with}}
	{{/with}}
	{{else}}
		<div class="ui active loader"></div>
	{{/if}}
</template>