<template name="play">
	<div class="sixteen wide column">
		<h2 class="ui header">Play Acrofever</h2>
		<div class="sub header">Join a lobby below</div>
	</div>
	<div class="sixteen wide column">
	{{#if ready}}
		<table class="ui selectable table" id="lobbyList">
			<thead>
				<tr>
					<th>Name</th>
					<th>Last active</th>
					<th>Players</th>
				</tr>
			</thead>
			<tbody>
				{{#each lobbies}}
					{{> lobbyRow}}
				{{/each}}
			</tbody>
		</table>
	{{else}}
		<i class="fa fa-spin fa-spinner"></i>
	{{/if}}
	</div>
	<div class="sixteen wide column">
		{{> globalChat}}
	</div>
</template>

<template name="lobbyRow">
	<tr class="lobbyRow">
		<td>{{displayName}}</td>
		<td></td>
		<td>{{arrayLength players}}</td>
	</tr>
</template>