<template name="lobbyChat">
    <form id="chat-input-form" class="ui form">
        <input type="text" id="chat-input-box" class="ui input" placeholder="Type here to chat..." autocomplete="off">
    </form>
    <div id="chat-messages" class="ui segment">
        <div class="ui relaxed divided list">
            {{#each chats}}
                <div class="item">
                    <div class="content">
                        <div class="header">{{username user}} {{friendlytime time}}</div>
                        {{message}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>